<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Atualiza a idade de {{ contato.nome }}</h1>
    <form method="POST">
        <label for="nova_idade">Nova idade</label>
        <input type="number" name="nova_idade" value="{{ contato.idade }}"><br>
        <input type="submit" value="Atualizar">
    </form>
</body>
</html>