<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header><nav>
        <a href="./">Tela inicial</a>
        <a href="./listar">Lista</a>
        <a href="./cadastrar">Cadastro</a>
    </nav></header>
    <br>
    <form action="{{ url_for('cadastrar') }}">
        <label for="nome">Digite o nome</label>
        <input type="text" name="name">
        <input type="submit" value="Submit Form">
    </form>
</body>
</html>